.job-highlights {
  padding: 60px 120px 80px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-highlights__title {
  margin-bottom: 24px;
  font-size: 56px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--black-ya-color);
}

.job-highlights__title_accent_orange {
  color: var(--moderate-orange-color);
}
