.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__header {
  border-radius: var(--corners-radius);
  background-color: var(--white-color);
  min-height: 232px;
  padding: 16px 62px 16px 23px;
}

.tabs__title {
  color: #262626;
  letter-spacing: -0.5px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
}

.tabs__navigation {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin: 14px 0 0;
}

.tabs__navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__btn {
  margin: 0;
  border: none;
  min-height: 60px;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 18px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: #262626;
  cursor: pointer;
}

.tabs__btn_active {
  background-color: var(--black-color);
  color: var(--white-color);
}

.tabs__direction-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.tabs__direction-item {
  flex: 1 0 50%;
}

.tabs__direction-item:first-child .tabs__direction-btn {
  border-radius: 20px 0 0;
}

.tabs__direction-item:last-child .tabs__direction-btn {
  border-radius: 0 20px 0 0;
}

.tabs__profession-nav {
  margin: 24px 0 0;
}

.navs__professions-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tabs__content {
  margin: 28px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tabs__content-list {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.tabs__content-item {
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px 20px 10px;
  flex: 0 1 calc((100% / 4) - 8px);
  min-height: 236px;
  display: grid;
  grid-template-rows: 1fr auto auto;
}

.tabs__content-item:nth-child(7n+1),
.tabs__content-item:nth-child(7n+2),
.tabs__content-item:nth-child(7n+3) {
  flex: 0 1 calc((100% / 3) - 8px);
}

.tabs__content-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  letter-spacing: -0.5px;
}

.tabs__content-text {
  font-size: 20px;
  color: #808080;
  line-height: 1.45;
}

.tabs__content-item_button {
  padding: 0;
}

.content-item__btn {
  padding: 0;
  border: none;
  background-color: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
}

.content-item__btn-text {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  position: relative;
}

.content-item__btn_direction_back .content-item__btn-text::after {
  content: "";
  background-image: url("../../uploads/images/arrow_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: -30px;
}

.content-item__btn_direction_next .content-item__btn-text::before {
  content: "";
  background-image: url("../../uploads/images/arrow_back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: -30px;
  transform: rotate(180deg);
}

.tabs__pagination-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 8px;
}

.tabs__pagination-item {
  width: 40px;
  height: 36px;
  border: 1px solid #1a1b22;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tabs__pagination-item_active {
  background-color: #1a1b22;
  color: var(--white-color);
}
