.response {
  padding: 66px 93px 43px;
  background-color: var(--white-color);
}

.response__title {
  margin: 0;
  margin-bottom: 74px;
  font-size: 42px;
  line-height: 1;
  font-weight: 500;
  max-width: 60%;
}

.response__description {
  margin: 0;
  font-size: 21px;
  line-height: 1.3;
  max-width: 70%;
}

.response__form {
  padding-top: 90px;
}

.response__inputs {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 117px;
  row-gap: 40px;
}

.response__input {
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 1.6;
}

.response__input:focus-visible {
  outline: none;
  border-color: #000;
}

.response__btn {
  margin-top: 204px;
  border-radius: 4px;
}
