.roles__list {
  padding: 0;
  display: flex;
  gap: 14px;
  list-style: none;
}

.roles__item {
  padding: 60px 30px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  flex: 1 1 0px;
  width: 0;
  background-color: var(--white-color);
  border-radius: var(--corners-radius);
}

.roles__info {
  margin-bottom: auto;
}

.roles__title {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 70%;
  text-align: center;
  font-family: var(--ya-text-font);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.roles__title_accent_yellow {
  color: #ffcd00;
}

.roles__title_accent_aquamarine {
  color: #35d29e;
}

.roles__description {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
}

.roles__image {
  width: 100%;
  height: 213px;
  background-color: var(--smoky-white-color);
}
