.video-history {
  background: no-repeat url("../../uploads/images/prev-video-history.jpg") center / cover;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}

.video-history__description {
  margin: 0;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--white-color);
  max-width: 638px;
}
