@font-face {
  font-family: "YS Text";
  src: url("../../fonts/ys/ys-text-regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "YS Text";
  src: url("../../fonts/ys/ys-text-medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "YS Text";
  src: url("../../fonts/ys/ys-text-bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: var(--ya-text-font);
  margin: 0;
  padding: 0;
}
