:root {
  --white-color: #fff;
  --smoky-white-color: #e9e9e9;
  --black-ya-color: #262626;
  --grey-text-color: #808080;
  --black-color: #000;
  --corners-radius: 24px;
  --ya-text-font: "YS Text", "Helvetica Neue", helvetica, sans-serif;
}
