.accordion {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}

.accordion__item {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.accordion__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;
}

.accordion__header[aria-expanded="true"] + .accordion__body {
  opacity: 1;
  padding: 12px 0;
  max-height: max-content;
  transition: opacity 200ms linear, max-height 400ms ease-in;
  will-change: opacity, max-height;
}

.accordion__header[aria-expanded="true"] .accordion__icon {
  transform: rotate(45deg);
}

.accordion__title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--black-ya-color);
  letter-spacing: -0.5px;
}

/* noinspection Stylelint */
.accordion__icon {
  background-image: url("../../uploads/images/cross.svg");
  background-size: cover;
  width: 28px;
  height: 28px;
  transition: transform 0.4s;
}

/* noinspection Stylelint */
.accordion__body {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  will-change: opacity, max-height;
  transition: opacity 200ms linear, max-height 400ms ease-in;
}

.accordion-content__paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.5px;
  color: var(--black-ya-color);
}

.accordion-content__list {
  list-style: disc;
  padding: 0 0 0 30px;
}

.accordion-content__item {
  line-height: 1.45;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .accordion {
    gap: 12px;
  }

  .accordion__header {
    gap: 10px;
    padding: 6px 0;
  }

  .faq__title {
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
  }

  .accordion__title {
    font-size: 14px;
    line-height: 1.29;
  }

  .accordion__icon {
    width: 24px;
    height: 24px;
  }

  .accordion-content__paragraph {
    font-size: 12px;
    line-height: 1.3;
  }

  .accordion-content__item {
    font-size: 12px;
    line-height: 1.2;
  }

  .accordion__header[aria-expanded="true"] + .accordion__body {
    padding: 6px 0;
  }
}
