.quote-blurry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  box-sizing: border-box;
  padding: 8px 12px;
  max-width: 268px;
  border-radius: 12px;
  background-color: rgb(36 36 36 / 6%);
  backdrop-filter: blur(16px);
}

.quote-blurry__text {
  margin: 0;
  order: 2;
}

.quote-blurry__paragraph {
  margin: 0;
  font-family: var(--ya-text-font);
  color: var(--white-color);
  line-height: 1.29;
}

.quote-blurry__author {
  margin: 0;
  order: 1;
  font-family: var(--ya-text-font);
  color: var(--white-color);
}
