/* CORE */
@import url("./core/typography.css");
@import url("./core/variables.css");
@import url("./core/root.css");

/* SHARE */
@import url("./share/content.css");
@import url("./share/inner-wrapper.css");
@import url("./share/small-btn.css");
@import url("./share/btn.css");
@import url("./share/quoute-blurry.css");
@import url("share/text-accent.css");

/* LAYOUT */
@import url("./layouts/header.css");
@import url("./layouts/footer.css");

/* SECTIONS */
@import url("./sections/promotion.css");
@import url("./sections/job-highlights.css");
@import url("./sections/roles.css");
@import url("./sections/quiz.css");
@import url("./sections/video-history.css");
@import url("./sections/response.css");
@import url("./sections/offers.css");
@import url("./sections/prof-orientation.css");
@import url("./sections/questions.css");
@import url("./sections/faq.css");
